<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>YKP</title>
<link rel="stylesheet" th:href="@{/home-header.css}">
<link rel="stylesheet" th:href="@{/home-body.css}">
</head>
<body>
<div class="header-fixed">
	<!-- 헤드 -->
	<hr class="line">
	<div class="header-top">
	
        <div class="h-left">
             <span th:text="${currentDate}"></span>
        </div>
         <div class="h-center">
            <div class="logo-box">
                <span class="logo-text">Y</span>
                <span class="logo-text">K</span>
                <span class="logo-text">P</span>
            </div>
        </div>
       <div class="h-right">
            <a href="/login" class="link">로그인</a>
            <a href="/register" class="link">회원가입</a>
        </div>
    </div>
	<hr class="line"  padding:0 30px>
	<div class="header-center">
		<div class="center">
			<img src="/img/2024logo.gif" class="img">
		</div>
	</div>
</div>
	<!-- <hr class="line" style="margin-top: 174px;"> -->
	<hr class="line">

	 <div class="header-bottom">
        <!-- 뉴스 / 연예 / 스포츠 / 날씨 메뉴바 -->
        <nav class="menu-bar">
            <a href="/news" class="menu-link " >뉴스</a>
            <a href="/entertainment" class="menu-link ">연예</a>
            <a href="/sports" class="menu-link ">스포츠</a>
            <a href="/weather" class="menu-link ">날씨</a>
        </nav>
    </div>
    
	<!-- 바디 (국내) -->
	<div class="body-top">
   	<!-- Left Section -->
    	<div class="left">
    	
        	<div class="box" th:if="${politics.size() > 0}" th:with="news=${politics.get(0)}">
            <!-- 이미지 -->
            <div class="box-img">
            <img th:src="${news.imageUrl}" alt="이미지">
			</div>
			
            <!-- 뉴스 제목 -->
            
			
			<h2 th:text="${news.title}"></h2>
			
            <!-- 뉴스 요약 -->
            <p th:text="${news.summary.length() > 50 ? news.summary.substring(0, 100) + '...' : news.summary}"></p>

            <!-- 뉴스 발행일 -->
            <a th:text="${news.publishedAt}"></a>
        </div>
    </div>

 		<div class="right">
             <div class="box" th:each="news, iterStat : ${politics}" th:if="${iterStat.index > 0 && iterStat.index < 4}">
               
                <!-- 뉴스 제목 -->
                <h2 th:text="${news.title}"></h2>
                <!-- 뉴스 요약 -->
                <p th:text="${news.summary.length() > 50 ? news.summary.substring(0, 100) + '...' : news.summary}"></p>
                <!-- 뉴스 발행일 -->
                <a th:text="${news.publishedAt}"></a>
            </div>
            
        </div>
    </div>

	<hr class="line" >
	<!-- 구독 -->
		<div class="body-content">
    		<div class="body-section">
        		<h2>구독</h2>
    		</div>
	 
	<div class="body-subscribe">      
            <h1 class="sub-box">구독</h1>
			<h1 class="sub-box">구독</h1>
			<h1 class="sub-box">구독</h1>
			<h1 class="sub-box">구독</h1>
			<h1 class="sub-box">구독</h1>
			<h1 class="sub-box">구독</h1>
			<h1 class="sub-box">구독</h1>
			<h1 class="sub-box">구독</h1>
            
        </div>
      </div>     

	<!-- 바디 (해외)-->
	<hr class="line" >
		<div class="body-content">
    		<div class="header-section">
        		<h2>해외뉴스</h2>
    		</div>
	 	</div> 
		<div class="body-top">
       
        	<div class="right">
             <div class="box" th:each="news, iterStat : ${global}" th:if="${iterStat.index < 3}">
               
                <!-- 뉴스 제목 -->
                <h2 th:text="${news.title}"></h2>
                <!-- 뉴스 요약 -->
                <p th:text="${news.summary.length() > 50 ? news.summary.substring(0, 100) + '...' : news.summary}"></p>
                <!-- 뉴스 발행일 -->
                <a th:text="${news.publishedAt}"></a>
            </div>
            
        	</div>
         
           <div class="right">
             <div class="box" th:each="news, iterStat : ${global}" th:if="${iterStat.index >= 3 && iterStat.index < 6}">
               
                <!-- 뉴스 제목 -->
                <h2 th:text="${news.title}"></h2>
                <!-- 뉴스 요약 -->
                <p th:text="${news.summary.length() > 50 ? news.summary.substring(0, 100) + '...' : news.summary}"></p>
                <!-- 뉴스 발행일 -->
                <a th:text="${news.publishedAt}"></a>
            </div>
                 
        	</div>
    	</div>
  

	<!-- 바디 (경제)-->
	<hr class="line">
		<div class="body-content">
    		<div class="header-section">
        		<h2>경제뉴스</h2>
    		</div>
	 </div> 
	<div class="body-top">
       
        	<div class="right">
             <div class="box" th:each="news, iterStat : ${economic}" th:if="${iterStat.index < 3}">
               
                <!-- 뉴스 제목 -->
                <h2 th:text="${news.title}"></h2>
                <!-- 뉴스 요약 -->
                <p th:text="${news.summary.length() > 50 ? news.summary.substring(0, 100) + '...' : news.summary}"></p>
                <!-- 뉴스 발행일 -->
                <a th:text="${news.publishedAt}"></a>
            </div>
            
        	</div>
         
           <div class="right">
             <div class="box" th:each="news, iterStat : ${economic}" th:if="${iterStat.index >= 3 && iterStat.index < 6}">
               
                <!-- 뉴스 제목 -->
                <h2 th:text="${news.title}"></h2>
                <!-- 뉴스 요약 -->
                <p th:text="${news.summary.length() > 50 ? news.summary.substring(0, 100) + '...' : news.summary}"></p>
                <!-- 뉴스 발행일 -->
                <a th:text="${news.publishedAt}"></a>
            </div>
                 
        	</div>
    	</div>
  
	<hr class="line">	
</body>
</html>