<!DOCTYPE html>
<html lagn="ko" 
      xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>weeklyScroll</title>
	</head>
	<body>
		<div th:fragment="weeklyScrollFragment">
			<div>
				<ul >
					<li class="weekly_item">
						<!--주간 날씨 one box-->
						<div class="week_item_inner">
							<div class="cell_date">
							    <span class="date_inner">
							        <strong class="day">수</strong>
									<span class="date">7.31</span>
							    </span>
							</div>
							<div class="cell_temperature">
							    <strong class="temperature">
							        <span class="lowest"><span class="blind">최저기온</span>26°</span>
							        <span class="bar">/</span>
							        <span class="highest"><span class="blind">최고기온</span>28°</span>
							    </strong>
							</div>
							<div class="cell_weather">
							    <span class="weather_inner">
									<i>구름 많고 한때 비</i>
							        <strong>
							            <span>오전</span>	
							            <span>60%</span>
							        </strong>
							    </span>
							    <span class="weather_inner">
									<i>흐림</i>
									<strong class="inner_text">
									    <span>오후</span>
									    <span>30%</span>
									</strong>
							    </span>
							</div>
	                    </div>
					</li>
					<li class="weekly_item">
						<!--주간 날씨 one box-->
						<div class="week_item_inner">
							<div class="cell_date">
							    <span class="date_inner">
							        <strong class="day">목</strong>
									<span class="date">8.1</span>
							    </span>
							</div>
							<div class="cell_temperature">
							    <strong class="temperature">
							        <span class="lowest"><span class="blind">최저기온</span>26°</span>
							        <span class="bar">/</span>
							        <span class="highest"><span class="blind">최고기온</span>28°</span>
							    </strong>
							</div>
							<div class="cell_weather">
							    <span class="weather_inner">
									<i>구름 많고 한때 비</i>
							        <strong>
							            <span>오전</span>	
							            <span>40%</span>
							        </strong>
							    </span>
							    <span class="weather_inner">
									<i>흐림</i>
									<strong class="inner_text">
									    <span>오후</span>
									    <span>30%</span>
									</strong>
							    </span>
							</div>
					    </div>
					</li>
					<li class="weekly_item">
						<!--주간 날씨 one box-->
						<div class="week_item_inner">
							<div class="cell_date">
							    <span class="date_inner">
							        <strong class="day">금</strong>
									<span class="date">8.2</span>
							    </span>
							</div>
							<div class="cell_temperature">
							    <strong class="temperature">
							        <span class="lowest"><span class="blind">최저기온</span>26°</span>
							        <span class="bar">/</span>
							        <span class="highest"><span class="blind">최고기온</span>28°</span>
							    </strong>
							</div>
							<div class="cell_weather">
							    <span class="weather_inner">
									<i>구름 많고 한때 비</i>
							        <strong>
							            <span>오전</span>	
							            <span>40%</span>
							        </strong>
							    </span>
							    <span class="weather_inner">
									<i>흐림</i>
									<strong class="inner_text">
									    <span>오후</span>
									    <span>30%</span>
									</strong>
							    </span>
							</div>
					    </div>
					</li>
					<li class="weekly_item">
						<!--주간 날씨 one box-->
						<div class="week_item_inner">
							<div class="cell_date">
							    <span class="date_inner">
							        <strong class="day">토</strong>
									<span class="date">8.3</span>
							    </span>
							</div>
							<div class="cell_temperature">
							    <strong class="temperature">
							        <span class="lowest"><span class="blind">최저기온</span>26°</span>
							        <span class="bar">/</span>
							        <span class="highest"><span class="blind">최고기온</span>28°</span>
							    </strong>
							</div>
							<div class="cell_weather">
							    <span class="weather_inner">
									<i>구름 많고 한때 비</i>
							        <strong>
							            <span>오전</span>	
							            <span>40%</span>
							        </strong>
							    </span>
							    <span class="weather_inner">
									<i>흐림</i>
									<strong class="inner_text">
									    <span>오후</span>
									    <span>30%</span>
									</strong>
							    </span>
							</div>
					    </div>
					</li>
					<li class="weekly_item">
						<!--주간 날씨 one box-->
						<div class="week_item_inner">
							<div class="cell_date">
							    <span class="date_inner">
							        <strong class="day">일</strong>
									<span class="date">8.4</span>
							    </span>
							</div>
							<div class="cell_temperature">
							    <strong class="temperature">
							        <span class="lowest"><span class="blind">최저기온</span>26°</span>
							        <span class="bar">/</span>
							        <span class="highest"><span class="blind">최고기온</span>28°</span>
							    </strong>
							</div>
							<div class="cell_weather">
							    <span class="weather_inner">
									<i>구름 많고 한때 비</i>
							        <strong>
							            <span>오전</span>	
							            <span>40%</span>
							        </strong>
							    </span>
							    <span class="weather_inner">
									<i>흐림</i>
									<strong class="inner_text">
									    <span>오후</span>
									    <span>30%</span>
									</strong>
							    </span>
							</div>
					    </div>
					</li>										
				</ul>
			</div>
		</div>
	</body>
</html>