<!DOCTYPE html>
<html lang="ko"
	xmlns="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<!-- css, js는 main file에 전부 link하기-->
		<title>main</title>
		<link rel="stylesheet" th:href="@{/home-header.css}">
		<link rel="stylesheet" th:href="@{/home-body.css}">
		<link
		  rel="stylesheet"
		  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
		/>
		<link rel="stylesheet" type="text/css" th:href="@{/common.css}"></link>
		<link rel="stylesheet" type="text/css" th:href="@{/header.css}"></link>
		<link rel="stylesheet" type="text/css" th:href="@{/current.css}"></link>
		<link rel="stylesheet" type="text/css" th:href="@{/weatherTable.css}"></link>
		<link rel="stylesheet" type="text/css" th:href="@{/weeklyDay.css}"></link>
		<link rel="stylesheet" type="text/css" th:href="@{/weatherMap.css}"></link>
	</head>
	<body>
		<!--
		<header th:replace="~{header::headerFragment}"></header>
		-->
		    <hr class="line">
		    <div class="header-top">
		        <div class="h-left">
		            <span th:text="${currentDate}"></span>
		        </div>
		        <div class="h-center">
		            <div class="logo-box">
		                <span class="logo-text">Y</span>
		                <span class="logo-text">K</span>
		                <span class="logo-text">P</span>
		            </div>
		        </div>
				<div class="h-right">
				    <a href="/news/login" class="link">로그인</a>
				    <a href="/news/register" class="link">회원가입</a>
				</div>
		    </div>
		    <hr class="line">
		    <div class="header-center">
		        <div class="center">
		            <img src="/img/2024logo.gif" class="img">
		        </div>
		    </div>

		<hr class="line">
		<div class="header-bottom">
		    <nav class="menu-bar">
		        <a href="/news/home" class="menu-link">뉴스</a>
		        <a href="/news/home#entertainments-section" class="menu-link">연예</a>
		        <a href="/news/home#sports-section" class="menu-link">스포츠</a>
		        <a href="/news/weather" class="menu-link">날씨</a>
		    </nav>
		</div>
		<main>
			<div id="main_div">
				<div id="main_content" style="display: flex;align-items: center; justify-content: center;">
					<div th:replace="~{current::currentFragment}"></div>
					<div th:replace="~{weatherTable::weatherTableFragment}"></div>
				</div>
				<div th:replace="~{weatherGraph::weatherGraphFragment}"></div>
				<div th:replace="~{weatherMap::weatherMapFragment}">
				</div>
			</div>
			<div id="weekly">
				<div id="weekly_title">
					<span>주간예보</span>
				</div>
				<div th:replace="~{weeklyDay::weeklyFragment}"></div>
				<div th:replace="~{weeklyScroll::weeklyScrollFragment}"></div>
			</div>
		</main>
		<!-- footer -->
		<footer></footer>
	</body>
	<script th:href="@{/js/getWeather.js}" type="text/javascript"></script>
	<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
	<script type="text/javascript">
		const swiper = new Swiper('.swiper', {
		  // Optional parameters
		  direction: 'horizontal',
		  loop: true,


		  // Navigation arrows
		  navigation: {
		    nextEl: '.swiper-button-next',
		    prevEl: '.swiper-button-prev',
		  },

		});
		/**** 오늘 날짜 불러오기 ****/
		const fullDate = new Date();
		const alertDayLenth = (number) => {
		  let dayNumber = JSON.stringify(number);
		  if (dayNumber.length === 1) {
		    dayNumber = 0 + dayNumber;
		  }
		  return dayNumber;
		}

		const year = JSON.stringify(fullDate.getFullYear());
		const month = alertDayLenth(fullDate.getMonth() +1);
		const day = alertDayLenth(fullDate.getDate());
		const current_time = fullDate.getHours();
		const full_date = [year, month, day,current_time,'00'].join("");	
	


		/* 단기 예보 조회 */

		var url_Vilage = 'http://apis.data.go.kr/1360000/VilageFcstInfoService_2.0/getVilageFcst'; /*URL*/
		var apiKey = 'onln1BmvLIlFVm327173TOIgaWX%2BF5okicZQ6k0NeMNuIBU0yqyXrW3imG38ZZi9sggZ4a%2FsrSpNsdV15%2FnjjQ%3D%3D';

		var queryParams_Vilage = '?' + encodeURIComponent('serviceKey') + '='+apiKey; /*Service Key*/
		queryParams_Vilage += '&' + encodeURIComponent('pageNo') + '=' + encodeURIComponent('1'); /**/
		queryParams_Vilage += '&' + encodeURIComponent('numOfRows') + '=' + encodeURIComponent('100'); /**/
		queryParams_Vilage += '&' + encodeURIComponent('dataType') + '=' + encodeURIComponent('JSON'); /**/
		queryParams_Vilage += '&' + encodeURIComponent('ftype') + '=' + encodeURIComponent('ODAM'); /*ODAM: 동네예보실황 -VSRT: 동네예보초단기 -SHRT: 동네예보단기*/
		queryParams_Vilage += '&' + encodeURIComponent('base_date') + '=' + encodeURIComponent('20240805'); /**/
		queryParams_Vilage += '&' + encodeURIComponent('base_time') + '=' + encodeURIComponent('0800'); /**/
		queryParams_Vilage += '&' + encodeURIComponent('nx') + '=' + encodeURIComponent('55'); /**/
		queryParams_Vilage += '&' + encodeURIComponent('ny') + '=' + encodeURIComponent('127'); /**/

		fetch(url_Vilage + queryParams_Vilage, {
		}).then((response) => response.json())
		.then((data) => console.log(data));


		/* 초단기 예보 조회 */
		var url_UltraSrt = 'http://apis.data.go.kr/1360000/VilageFcstInfoService_2.0/getUltraSrtFcst'; /*URL*/
		var queryParams_UltraSrt = '?' + encodeURIComponent('serviceKey') + '='+apiKey; /*Service Key*/
		queryParams_UltraSrt += '&' + encodeURIComponent('pageNo') + '=' + encodeURIComponent('1'); /**/
		queryParams_UltraSrt += '&' + encodeURIComponent('numOfRows') + '=' + encodeURIComponent('100'); /**/
		queryParams_UltraSrt += '&' + encodeURIComponent('dataType') + '=' + encodeURIComponent('JSON'); /**/
		queryParams_UltraSrt += '&' + encodeURIComponent('base_date') + '=' + encodeURIComponent('20240805'); /**/
		queryParams_UltraSrt += '&' + encodeURIComponent('base_time') + '=' + encodeURIComponent('2000'); /**/
		queryParams_UltraSrt += '&' + encodeURIComponent('nx') + '=' + encodeURIComponent('55'); /**/
		queryParams_UltraSrt += '&' + encodeURIComponent('ny') + '=' + encodeURIComponent('127'); /**/

		fetch(url_UltraSrt + queryParams_UltraSrt, {
		}).then((response) => response.json())
		.then((data) => console.log(data));
		
		

		
	</script>
</html>